* {
  font-family: 'Nunito Sans';
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.bg-landing {
  background-image: url(../public/bg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn {
  border-radius: 0px;
  transition: all 0.3s ease-in-out !important;
}

.btn:hover {
  background-color: transparent !important;
  border-bottom: 1px solid #1985a1 !important;
}

.btn-active {
  background-color: #ffffff !important;
  color: #1985a1 !important;
  border-radius: 0px;
  border-bottom: 1px solid #1985a1 !important;
  transition: all 0.3s ease-in-out !important;
}

.btn-active:hover {
  background-color: #f7feff !important;
}

.btn-admin {
  transition: all 0.3s ease-in-out !important;
}

.btn-admin:hover {
  background-color: #1986a14d !important;
  border-radius: 5px;
}

.btn-active-admin {
  background-color: #1985a1 !important;
  color: white !important;
}

.transition {
  transition: all 0.3s ease-out !important;
}

.touchable {
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.touchable:hover {
  /* background-color: rgba(0, 0, 0, 0.216); */
}

.curved {
  width: 100%;
  height: 200px;
  position: relative;
  background: #1985A1;
  border-top-left-radius: 50% 15%;
  border-top-right-radius: 50% 15%;
}