* {
  font-family: "Nunito Sans";
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.bg-landing {
  background-image: url(../public/bg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn {
  border-radius: 0px;
  transition: all 0.3s ease-in-out !important;
}

.btn:hover {
  background-color: transparent !important;
  border-bottom: 1px solid #0ba7ce !important;
  border-radius: 0px !important;
}

.btn-active {
  background-color: transparent !important;
  color: #0ba7ce !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #0ba7ce !important;
  transition: all 0.3s ease-in-out !important;
}

.btn-admin {
  transition: all 0.3s ease-in-out !important;
}

.btn-admin:hover {
  background-color: #1986a14d !important;
  border-radius: 5px;
}

.btn-active-admin {
  background-color: #0ba7ce !important;
  color: white !important;
}

.transition {
  transition: all 0.3s ease-out !important;
}

.touchable {
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.touchable:hover {
  /* background-color: rgba(0, 0, 0, 0.216); */
}

.curved {
  width: 100%;
  height: 200px;
  position: relative;
  background: #0ba7ce;
  border-top-left-radius: 50% 15%;
  border-top-right-radius: 50% 15%;
}

.simple-button {
  background-color: transparent;
  color: #0ba7ce;
}

.simple-button:hover {
  background-color: #0ba7ce18;
  color: #0ba7ce;
}

.no-styles {
  text-decoration: none;
  color: #0ba7ce;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
