* {
  font-family: 'Nunito Sans';
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn {
  background-color: #ffffff !important;
  color: black !important;
  border-radius: 0 !important;

  transition: all 0.3s ease-in-out !important;
}

.btn:hover {
  background-color: #f7feff !important;
}

.btn-active {
  background-color: #ffffff !important;
  color: #1985a1 !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #1985a1 !important;
  transition: all 0.3s ease-in-out !important;
}

.btn-active:hover {
  background-color: #f7feff !important;
}

.btn-active-admin {
  background-color: #1985a1 !important;
}

.transition {
  transition: all 0.3s ease-out !important;
}
